.pokedex-pagina {
    background-color: #FFF2F2;
    display: flex;
    justify-content: center;
    padding: 48px;
    max-width: 100%;
    height: 100%;
}

.card-pokedex-pagina {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 24px;
    column-gap: 24px;
}